#j_imagePop {
    display: none;
    padding: 20px 30px 5px 20px;
}

#j_imageUploadDiv {
    height: 45px;
}

#j_historyImage img {
    margin-bottom: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.c_upload_file {
    margin-left: 15px;
}

.c_upload_file button {
    margin: 10px 10px 0 0;
}

.c_image {
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 2px 2px 0;
}
