.c_index_body {
    margin: 20px auto;
    width: 80%;
}

.c_page_checked {
    font-weight: 900;
    font-style: italic;
}

.btn_info1 {
    color: #fff;
    background: #0593d3;
}

.btn_info1:hover {
    color: #fff !important;
    background: #337cbb;
}
